<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>an error has occuredd</h1>
    <p>
      plase take a look and fix it as soon as possible
    </p>
    <p>Thank you for your effort and have a great day!</p>
  </body>
</html>